/*上传组件样式*/
.mod-upload-pic{
  position: relative;
  user-select: none;
}
.mod-upload-pic:after{
  content: "\20";
  clear: both;
  display: block;
}
.mod-upload-pic .item{
  background-color: #fff;
  position: relative;
    width: 100px;
    height: 100px;
    float: left;
    margin: 0 10px 5px 0;
    border:1px solid #e6e6e6;
}
.mod-upload-pic .item .close{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #e4393c;
  right: -5px;
  top: -5px;
}
.mod-upload-pic .item .close:before,.mod-upload-pic .item .close:after{
  content: "\20";
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -4px;
  width: 8px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mod-upload-pic .item .close:after{
  -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
.mod-upload-pic .item img{
  position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}
.mod-upload-pic .item-add:before, .mod-upload-pic .item-add:after {
    width: 16px;
    height: 2px;
    content: "\20";
    background-color: #999;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -8px;
}
.mod-upload-pic{
  .item-add {
    &:hover{
      &:before,&:after{
        background-color: #108ee9;
      }
      border-color: #108ee9;
    }
    &.hover{
      &:before,&:after{
        background-color: #108ee9;
      }
      border-color: #108ee9;
    }
  }
}
.mod-upload-pic input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.mod-upload-pic .item-add{
  border:1px dashed #d9d9d9;
}
.mod-upload-pic .item-add:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}


/*按钮 + 进度条样式*/
.button {
    display: inline-block;
    position: relative;
    color: #888;
    text-shadow: 0 1px 0 rgba(255,255,255, 0.8);
    text-decoration: none;
    text-align: center;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 700;
    font-family: helvetica, arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #bcbcbc;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
    background-image: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(239,239,239,1) 60%,rgba(225,223,226,1) 100%);
}
.progress{
  position: relative;
  display: none;
  margin-bottom: 10px;
    background: #000;
    height: 5px;
    border-radius: 3px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 300px;
}
.progress_inner{
  width: 0%;
  height: 1px;
    margin: 2px 0;
    background: #2187e7;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0,198,255,0.4);
    -webkit-transition: width 0.3s ease-in;
    transition: width 0.3s ease-in;
}
.upload_info{
  word-break: break-all;
  font-size: 12px;
  margin-top: 20px;
  color: #333;
}